<ul class="ulNavbar" id="ulNavbar">
    <li class="liNavbar"><a href='/api/usuarios/login'>Login</a></li>
    <li class="liNavbar"><a href='/api/usuarios/register'>Registrarse</a></li>
    <li class="liNavbar"><a href='/api/usuarios/profile'>Perfil</a></li>
</ul>