<header>
    <nav>
        <ul class="ulNavbar">
            <li class="liNavbar"><a href='/login'/>Login</li>
            <li class="liNavbar"><a href='/register'/>Registrarse</li>
            <li class="liNavbar"><a href='/profile'/>Perfil</li>
        </ul>
    </nav>
</header>