<h1> {{titulo}} </h1>

<ul id="ulMensajes"></ul>
<form id="form">
  <input type="text" name="mensaje" id="inputMensaje">
  <button type="submit">Enviar</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../static/chatHandlebars.js"></script>