<h1> Productos en Tiempo Real </h1>

<div id="rtDiv">
    <ul id="productosAdd">
        
    </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="../static/realTimeProductsHandlebars.js"></script>
