<h1>Registro</h1>
<form id="registerForm">
  <label for="nombre">Nombre</label>
  <input name="nombre" type="text" placeholder="nombre"><br>
  <label for="apellido">Apellido</label>
  <input name="apellido" type="text" placeholder="apellido"><br>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="email"><br>
  <label for="edad">Edad</label>
  <input name="password" type="password" placeholder="password"><br>
  <label for="password">Password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Crear Usuario</button>
</form>
<script src="../static/registerHandlebars.js"/>